
<!DOCTYPE html>
<!--Code by Divinector (www.divinectorweb.com)-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IMPI Homepage</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="homepage.component.css">    
</head>
<body>
    <header>
    <div class="wrapper">
        <div class="logo">
            <img src="C:\Users\Munashe\Downloads\ImpiWeb-main\OIP.jpg" alt="">
        </div>
<ul class="nav-area">

<li><a href="/orders">Order Management</a></li>
<li><a href="/agents">Agent Management</a></li>
<li><a href="#">Log Out &nbsp &nbsp<i class='fa fa-power-off'></i></a></li>
</ul>
</div>
<div class="welcome-text">
        <h1>
IMPI <span>MOTTO</span></h1>
<a href="#">lOG OUT</a>
    </div>
</header>

</body>
</html>
