body{
  background-image: "C:\Users\Munashe\Downloads\ImpiWeb-main\homepage.jpg";
  
  background: rgb(187, 186, 186);
  color: rgb(255, 254, 254);
}
.section{
  position: relative;
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  background-size: cover;
  background-position: center;


}
.header{
  
  top: 0;
 
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  position: relative;
  font-size: 20px;
  justify-self: left;
}
.nav{
  background-color: blue;
  width: 20%;
  height: 20px;
}
.nav a{
  color: rgb(30, 203, 255);
  background: rgb(5, 165, 214);
  text-decoration: none;
  padding: 2px 15px;
  border-radius: 15px;
  transition: 0.5s;
  margin: 10px;

}
.nav a:hover{
  background: yellowgreen;
}
.info{
  color: blue;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
}
.info button{
  color: aqua;
  background: beige;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 6px;
  transition: .5s;
}
.info button:hover{
  background: grey;
}
label{
  display: none;
}
#check{
  z-index: 3;
  display: none;
}

@media(max-width: 960px){
  header.nav{
    display: none;
  }
  label{
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }
  label:hover{
    color: #000;
  }
  label .close-btn{
    display: none;
  }
  #check:checked ~ header .nav{
    z-index: 2;
    position: fixed;
    background: rgb(177, 32, 32);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #check:checked ~ header .nav a{
    margin-right: 0;
    margin-bottom: 50px;
  }
  #check:checked ~ header label .menu-btn{
    display: none;
  }
  #check:checked ~ header label .close-btn{
    z-index: 2;
    display: block;
    position: fixed;
  }
  label .menu-btn{
    position: absolute;
  }
  .info h2{
    font-size: 40px;
    line-height: 50px;
  }
}

@media(max-width: 560px){
  .info h2{
    font-size: 35px;
    line-height: 40px;
  }
}